#banner 
    .banner_content 
        %h1 File Cabinet
        %p Your life's work, but organized. 
        %button= link_to "Enter", new_user_registration_path

#callouts
    .wrapper
        .callout_inner
            %h2 Organize 
            %p Shabby chic marfa ethical vexillologist, sustainable kombucha tofu godard cronut disrupt. Neutra VHS gastropub chicharrones af shabby chic street art edison bulb gentrify, selvage woke. Everyday carry 90's food truck art party, woke pitchfork chillwave. Deep v salvia hexagon waistcoat knausgaard. Trust fund disrupt paleo typewriter.

#bottom_cta 
    .wrapper 
    %h2 Go Ahead! 
    %br
    %button= link_to "Join Now", new_user_registration_path